<div class="home">
    <app-back-button [page]="''"></app-back-button>
    <div class="home__header">        
        <app-filter></app-filter>
        <app-drop-down></app-drop-down>
    </div>
    <div class="home__body">
        <ng-container *ngIf="!loader">
            <app-cards 
                *ngFor="let item of dataCharacters"
                [nameCards]="item.name" 
                [numberComics]="item.comics.available"
                [numberSeries]="item.series.available"
                [imgCards]="item.thumbnail.path" 
                [extension]="item.thumbnail.extension"
                [idCards]="item.id"
                (click)="selectCharacters(item.id)">
            </app-cards>   
        </ng-container>
        
        <app-loader *ngIf="loader" style="width: 100%;"></app-loader>     
    </div>
    <div class="home__footer" *ngIf="!loader">        
        <div *ngIf="constr > 0" class="home__footer__pages__more" (click)="lessPages()">
            &#x022d8;
        </div>
        <ng-container *ngFor="let item of [].constructor(10); let i = index">
            <div *ngIf="!((i + 1)+(10*constr) > maxCharacters+1)" class="home__footer__pages" [ngClass]="numberPage == ((i + 1)+(10*constr)) ? 'selected':''" tabindex="1" (click)="page((i + 1)+(10*constr))">
                {{(i + 1)+(10*constr)}}       
            </div>
        </ng-container>
        <div *ngIf="constr < 15" class="home__footer__pages__more" (click)="morePages()">
            &#x022D9;
        </div>
    </div>
</div>

